<form action="/books" method="post">
  <input type="text" name="title" placeholder="title" value="{{book.title}}">
  <input type="text" name="description" placeholder="description" value="{{book.description}}">
  <input type="text" name="author" placeholder="author" value="{{book.author}}">
  <input type="number" name="rating" placeholder="number" value="{{book.rating}}">
  <button type="submit">this button submits the form</button>
</form>